<!-- Este fragmento HTML representa un formulario de inicio de sesión centrado verticalmente y horizontalmente en la pantalla. -->
<div class="d-flex justify-content-center align-items-center vh-100">
  <!-- Formulario de inicio de sesión -->
  <form class="bg-white p-5 rounded-4">
    <div class="d-flex justify-content-center">
      <img src="./assets/user_icon-icons.com_57997.png" alt="person" style="height: 7rem;">
    </div>
    <div>
      <!-- Campo de entrada de usuario -->
      <div class="input-group mt-3">
        <!-- Utiliza la directiva [(ngModel)] para vincular bidireccionalmente el valor del campo a la propiedad "username" en el componente Angular. -->
        <input [(ngModel)]="username" [ngModelOptions]="{ standalone: true }" type="text" class="form-control" placeholder="usuario">
      </div>
      <!-- Campo de entrada de contraseña -->
      <div class="input-group mt-3">
        <!-- Utiliza la directiva [(ngModel)] para vincular bidireccionalmente el valor del campo a la propiedad "username" en el componente Angular. -->
        <input [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" type="password" class="form-control" placeholder="password">
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <!-- Agrega un elemento para mostrar el mensaje de error -->
      <p class="text-danger" *ngIf="error">Credenciales incorrectas</p>
    <div class="d-flex justify-content-center">
      <!-- Cuando se hace clic en el botón, se llama al método "login()" del componente Angular. -->
      <button (click)="login()" class="btn btn-primary mt-3">Ingresar</button>
    </div>
    </div>
  </form>
</div>
